* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 82.51px);
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
}

main {
  max-height: 560px;
  margin-bottom: auto;
}

footer {
  background-color: #F4F4F2; 
  height: 175px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-button {
  height: 26px;
  width: 26px;
  background-image: url(/cart-medium.png);
  background-size: 100%;
  border-radius: 5px;
  background-color: white;
  border: none;
}

ul {
  display: flex;
  column-gap: 30px;
  font-size: 1.25rem;
  list-style: none;
}

.header-title {
  font-size: 1.25rem;
}

a:link {
  text-decoration: none;
  height: stretch;
}

a:visited {
  color: black;
}

.home-main {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.home-title {
  font-weight: 400;
  font-size: 38px;
}

.main-art-button { 
  margin-top: 6px;
  height: 32px;
  width: 45px;
  background-color: white;
  background-image: url(arrow-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.home-artwork {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  height: 343px;
  width: 232px;
  box-sizing: border-box;
}

.art-image {
  padding-left: 15px;
  padding-right: 15px;
}

.home-card:hover {
  transition: transform .5s;
  z-index: 2;
  transform: scale(1.7);
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.footer-title > h1 {
  font-family: Karla;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

.footer-content {
  display: inherit;
  column-gap: 20px;
  margin-bottom: 20px;
}

.footer-card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #d8d8d8;
  border-radius: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-card > h1 {
  height: 22px;
  font-family: 'Optima LT Std';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
}

.art-title {
  font-family: 'Optima LT Std';
  font-size: 18px;
  color: #161412;
  margin: 0;
  text-indent: 12px;
}

.art-artist {
  font-family: 'Optima LT Std';
  font-size: 14px;
  color: #65635F;
  margin: 0;
  text-indent: 12px;
}

.art-medium {
  font-family: 'Optima LT Std';
  font-size: 14px;
  color: #65635F;
  font-style: italic;
  margin: 0;
  text-indent: 12px;
  padding-bottom: 20px;
}
