* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  padding-top: 20px;
  align-items: center;
}

.cart-button {
  height: 38px;
  width: 38px;
  background-image: url(/cart-medium.png);
  background-size: 100%;
  border-radius: 5px;
  background-color: white;
  border: none;
}

ul {
  display: flex;
  column-gap: 30px;
  font-size: 1rem;
  list-style: none;
}

a:link {
  text-decoration: none;
  height: stretch;
}

a:visited {
  color: black;
}